// Place all the styles related to the candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @font-face {
// 	font-family: "Lobster";
//     src: url();
// }

// includes Lobster
@import url(https://fonts.googleapis.com/css?family=Lobster)

// includes Open Sans Condensed
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300)

#welcome
	background-color: #eaeaea
	height: 100vh

#welcome-box
	padding-top: 25vh

#welcome-title
	font-family: "Lobster", cursive
	color: #86c863
	font-size: 100px

#welcome-text
	margin-top: 40px
	font-family: 'Open Sans Condensed', sans-serif
	font-weight: bold
	color: #003366
	font-size: 28px	
